.practitioner-container {
    width: 1000px;
    margin: auto;
    clear: left;
    padding-bottom: 10px;
}

.practitioner-header {
    height: 60px;
    background: #293942;
    border-left: 5px #6eb99b solid;
}

.practitioner-name {
    color: white;
    font-size: 20pt;
    margin-left: 45px;
    padding-top: 10px;
}
