.practitioner-container {
    width: 1000px;
    margin: auto;
    clear: left;
}

.practitioner-header {
    height: 60px;
    background: #293942;
    border-left: 5px #6eb99b solid;
}

.practitioner-name {
    color: white;
    font-size: 20pt;
    margin-left: 45px;
    padding-top: 10px;
}

.practitioner-statistics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    background: #f9f9f9;
}

.practitioner-statistics {
    width: 24%;
    height: 95%;
    background: white;
    align-self: center;
}

.total-appointments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #6eb99b;
}

.total-appointments-value {
    flex: 6;
    color: white;
    font-size: 85px;
}

.total-appointments-text {
    flex: 2;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-weight: 600;
}
